tcp:
  routers:
    synology-traefik-rtr:
      entryPoints:
        - websecure
      # rule: "HostSNIRegexp(`example.com`) || HostSNIRegexp(`{subdomain:[a-z]+}.example.com`)"
      rule: "HostSNIRegexp(`{{env "DOMAINNAME_03"}}`) || HostSNIRegexp(`{subdomain:[a-z]+}.{{env "DOMAINNAME_03"}}`)"
      service: synology-traefik-svc
      tls:
        passthrough: true
  services:
    synology-traefik-svc:
      loadBalancer:
        servers:
          - address: "10.30.10.254:443"